 <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
     <a class="navbar-brand" href="{% url 'home' %}">Elite</a>
     <ul class="navbar-nav mr-auto">
        <li class="nav-item mr-2"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
        <li class="nav-item mr-2"><a class="nav-link" href="{% url 'about_us' %}">About Us</a></li>
        <li class="nav-item mr-2"><a class="nav-link" href="{% url 'menu' %}">Menu</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item mr-2"><a class="nav-link " href="{% url 'account' %}">Account</a></li>
        {% endif %}
     </ul>
     <p class="navbar-text my-auto mr-2">Join us to taste Elite cuisine </p>
     {% if user.is_authenticated %}
     <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
     {% else %}
     <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
     <a class="nav-link" href="{% url 'account_login' %}">Login</a>
     {% endif %}

 </nav>

 <!--<a class="nav-link" href="{% url 'my_reservations' %}">My Reservations</a>
    <a class="nav-link" href="{% url 'account_update' %}">Update Account</a>
    <a class="nav-link" href="{% url 'password_update' %}">Change Password</a>
    <a class="nav-link" href="{% url 'make_reservation' %}">Make a Reservation</a>
    <a class="nav-link" href="{% url 'account_delete' %}">Delete Account</a>-->