<nav>
    <ul>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                        href="{% url 'account_logout' %}">Logout</a>
                </li>
                <li>
                    <a class="nav-link {% if request.path == 'my_reservations' %}active{% endif %}" aria-current="page"
                       href="{% url 'my_reservations' %}">My Reservations</a>
                </li>
                <li>
                        <a class="nav-link {% if request.path == 'account' %}active{% endif %}" aria-current="page"
                           href="{% url 'account' %}">Account</a>
                </li>
                <li>
                    <a class="nav-link {% if request.path == 'account_update' %}active{% endif %}" aria-current="page"
                           href="{% url 'account_update' %}">Update Account</a>
                </li>
                {% else %}
                <li >
                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                        href="{% url 'account_signup' %}">Register</a>
                </li>
                <li>
                    <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                        href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'make_reservation' %}">Make a Reservation</a></li>
                <li><a href="{% url 'about_us' %}">About Us</a></li>
                <li><a href="{% url 'menu' %}">Menu</a></li>
            </ul>
        </nav>
    </ul>
</nav>