<!-- templates/base.html -->
{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/head.html' %}
</head>

<body>
    {% include 'partials/header.html' %}
    {% include 'partials/navbar.html' %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    {% include 'partials/footer.html' %}
    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>