{% extends "base.html" %}

{% block content %}
<h2>My Reservations</h2>

{% if reservations %}
    <ul>
        {% for reservation in reservations %}
            <li>
                {{ reservation.date }} at {{ reservation.time }} - {{ reservation.number_of_guests }} guests
                <br>
                Special Occasion: {{ reservation.special_occasion }}
                <br>
                <a href="{% url 'edit_reservation' reservation.id %}">Edit</a>  <!-- Edit link -->
                <br>
                <a href="{% url 'delete_reservation' reservation.id %}">Edit</a>  <!-- Delete link -->
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have no reservations.</p>
{% endif %}
{% endblock %}